# Puerto del servidor web
PORT=3000

# Credenciales de Wompi El Salvador (Extraídas de https://panel.wompi.sv)
# App ID = Client ID
WOMPI_CLIENT_ID=tu_wompi_client_id_aqui
# API Secret = Client Secret
WOMPI_CLIENT_SECRET=tu_wompi_client_secret_aqui

# Ambiente: 'desarrollo' para pruebas o 'produccion' para cobros reales
WOMPI_ENVIRONMENT=desarrollo

# Modo Simulador: 'true' para probar de inmediato la experiencia 3DS sin credenciales bancarias
WOMPI_SIMULATOR_MODE=true
